body{
    font-family: Roboto, sans-serif;
}

.section1{
    background-color: #1F2937;
    padding-left: 100px;
    padding-right: 100px;
}
.header{
    display:flex;
    justify-content:space-between;
    margin-bottom: 40px;
}
 
.header-links a{
    font-size:18px;
    color:#E5E7EB;
        text-decoration: none; }
         
.header-logo{
    font-size:24px;
    color: #F9FAF8;
}
.intro-part{
    display:flex;
    justify-content:space-between;
    margin-bottom: 100px;
}
    button{
        background-color:#3882F6;
        color:#F9FAF8; 
        flex-shrink:0;
        padding:8px 8px;
        width: fit-content;     
  align-self: flex-start; 
        border-radius: 8px;
        border: white;

    } 
    .intro-wo-image{
        display:flex; 
        flex-direction: column;
        max-width: 350px;
    }
    .main-text{font-size:48px;
    font-weight: 900;
color:#F9FAF8;
    }
    .secondary-text{
        font-size: 18px;
        color: #E5E7EB;
    }
    .section2{
        display: flex;
        flex-direction: column;
        margin-bottom: 100px;
    }
    .section2-head{
        font-size: 36px;
        font-weight: 900;
        color: #1F2937;
        text-align: center;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .picture-cards{
        display:flex;
        justify-content: space-evenly;
    }
    .card{
        display:flex;
        flex-direction: column;
        max-width: 100px;
    }
    .section3{
        background-color:#E5E7EB;
        padding-top: 100px;
        padding-bottom: 100px;
        padding-left: 150px;
        padding-right: 150px;
    }
    .quote{
        font-size:36px;
        color:#1F2937;
        font-weight:300;
        font-style: italic; 
    }
    .quote-author{
        font-size: 18px;
        color: #1F2937;
        font-weight: 900;
        display:flex;
        justify-content: flex-end; 
    }
    .section4{
        display:flex;
        justify-content: space-between;
        background-color: #3882F6;
        margin:100px;
        margin-top: 0px;
        padding:36px;
        border-radius: 12px;
        color: #F9FAF8;
    }
    .call-to{
        display:flex;
        flex-direction:column;
    }
    footer{
        display:flex;
        justify-content: center;
        align-items: center;
        background-color: #1F2937;
        padding:24px; 
    }
    .card img {
        border: 2px solid #3882F6 ;  
            border-radius: 8px;}  

    .intro-image{padding-bottom: 150px;}








